{% extends '../index.html' %}

{% block title %}
Goods
{% endblock %}

{% block content %}
<h2 align="center"> {{ goods.name }}</h2><br>
<hr>
<hr>
<hr>
<hr>
<hr>
{% if Goods %}
<table>
    <tr>
        <td> Name </td>
        <td> Category </td>
        <td> Price </td>
        <td> Weight </td>
    </tr>
    {% for goods in filterset.qs %}
    <tr>
        <td> {{ goods.name }} </td>
        <td> {{ goods.category }} </td>
        <td> {{ goods.price }} </td>
        <td> {{ goods.weight }} </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}