<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Shop</title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    </head>
    <body>
    <nav>
        <div class="navbar-brand">
                    <img src="https://cdn.icon-icons.com/icons2/1603/PNG/512/pet-animal-pets-fish-gold_108547.png" width="40" height="40">
                    PetShop
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/products/">Catalog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <h1>Welcome to the Pet Shop!</h1>
    </body>
</html>